:root{
    --amber-900:#78350f;
    --amber-800:#92400e;
    --amber-700:#b45309;
    --amber-600:#d97706;
    --amber-500:#f59e0b;
    --amber-400:#fbbf24;
    --amber-300:#fcd34d;
    --amber-200:#fef3c7;

}
a{
    text-decoration: none;
}
#sidebar-wrapper{
    min-height: 100vh !important;
    width: 100vw;
}

#sidebar-wrapper .sidebar-heading {
    font-size: 1.2rem
}

#page-content-wrapper {
    min-width: 0;
    width: 100%;
}
.sidebar{
    top: 0;
    position:fixed;
    background-color:var(--amber-700);
    height:100vh;
    width:calc((1/6)*100vw);
    z-index:3;
    text-align:center;
    box-shadow:0px 15px 30px rgba(0,0,0,0.1);
}
.brand-header{
    width: 95%;
    margin-inline:auto;
    color: white;

    margin-block: 0.6em;
}
@media only screen and (max-width: 768px) {
    .sidebar{
        display: none;
    }
}
@media only screen and (max-width: 992px) {
    .sidebar{
        width: calc(25vw);
    }
    .brand-header{
        margin-block: 1em;
    }

}
.sidebar-link,
.sub-menu-link{
    border-left: 5px solid var(--amber-600);
    display: flex;
    align-items: baseline;
    padding: 0.3rem;

    color: beige;
}
.sidebar-link.retractable{
    border-left: none;
}
.sidebar-link:hover:not(.retractable),
.sub-menu-link:hover{
    border-left: 5px solid var(--amber-500);
    background-color: var(--amber-800);
    color: beige;
}
span.sidebar-menu-nav-title > h6{
    margin: 0;
    font-size: 1em;
}
.sidebar-link.sidebar-link.retractable{
    margin-top: 1em;
    border: none;
    background-color: rgba(0,0,0,0);
}

.sidebar-menu-sub-collapse.show,
.sidebar-menu-sub-collapse.collapsing{
    display: flex;
}
.sub-menu-link{
    font-size: 0.9em;
    margin-left: 1em;
    width: 95%;
    
    align-items: center;
}