:root{
    --amber-900:#78350f;
    --amber-800:#92400e;
    --amber-700:#b45309;
    --amber-600:#d97706;
    --amber-500:#f59e0b;
    --amber-400:#fbbf24;
    --amber-300:#fcd34d;
    --amber-200:#fef3c7;
  }
  p{
    margin: 0;
  }
.product-card{
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background-color: var(--amber-700);
    padding: clamp(0.5em,0.75em,1em);
}

.product-card > #card-image{
    max-width: 100%;
    border-radius: 5%;
}

.product-card > #product-description{
    margin-block: 8px;
    font-size: 0.9em;
    display: flex;

    justify-content: center;
    align-items:center;
  }

.product-card > .buy-wrap{
  position: relative;
  bottom: 0;
}

.buy-wrap > .btn-link-card{
  width: 50%;
}

@media only screen and (max-width: 1284px) {
  .buy-wrap{
    flex-flow: column-reverse;
    width: 100%;
  }

  .buy-wrap > button{
    margin-bottom: 0.5em;
    width: 100% !important;
  }
  .buy-wrap > .btn-link-card{
    width: 100%;
  }
}
